@page "/authors/delete/{id}"

@inject IAuthorRepository _repo
@inject NavigationManager _navManager

    <h3>Delete Author</h3>

<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back to List
</button>

@code {
    [Parameter]
    public string Id { get; set; }

    public Author Model = new Author();

    protected override async Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(Id);
        Model = await _repo.GetSingle(Endpoints.AuthorsEndpoint, id);
    }



    public void BackToList()
    {
        _navManager.NavigateTo("/authors/");
    }
}
