@page "/authors"

@inject IAuthorRepository _repo
@inject NavigationManager _navManager

<h3>Authors List</h3>

<br />

<a href="/authors/create/" class="btn btn-primary py-2">
    <span class="oi oi-pencil"></span> 
    Add An Author
</a>

@if (_model == null)
{
    <LoadingPrompt Message="Loading Author list" />
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var author in _model)
        {
            <tr>
                <td scope="row">@author.FirstName</td>
                <td scope="row">@author.LastName</td>
                <td scope="row">
                    <a href="/authors/details/@author.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                        Details
                    </a>
                    <a href="/authors/update/@author.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                        Update
                    </a>
                    <a href="/authors/delete/@author.Id" class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                        Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<Author> _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await _repo.GetAll(Endpoints.AuthorsEndpoint);
    }

}
