@page "/authors"

@inject IAuthorRepository _repo
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Authors List</h3>

<br />

<a href="/authors/create/" class="btn btn-primary p-1 m-2">
    <span class="oi oi-pencil"></span> Add An Author
</a>

@if (_model == null)
{
    <LoadingPrompt Message="Loading Author list" />
}
else
{
    <table class="table table-default">
        <thead>
            <tr class="">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var author in _model)
        {
            <tr class="">
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>
                    <a href="/authors/details/@author.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                        Details
                    </a>
                    <a href="/authors/update/@author.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                        Update
                    </a>
                    <a href="/authors/delete/@author.Id" class="btn btn-danger">
                        <span class="oi oi-delete"></span>
                        Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<Author> _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await _repo.GetAll(Endpoints.AuthorsEndpoint);
    }

}
