<div class="">
        <div class="">
            Search: 
            <input class="" type="search"
                   aria-label="Search"
                   @bind-value="SearchTerm"
                   placeholder="Enter search term..."
                   @bind-value:event="oninput" />
            <button class=""
                    type="submit" @onclick="HandleSearch">
                Search
            </button>
        </div>
</div>

@code {
    protected string SearchTerm { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    protected async Task HandleSearch()
    {
        await OnSearch.InvokeAsync(SearchTerm);
    }
}
