@page "/books/create/"

@inject IBookRepository _repo
@inject NavigationManager _navManager
@inject IToastService _toastService

<h3>Create Book</h3>

<EditForm Model="_model" OnValidSubmit="CreateBook">
    
    <DataAnnotationsValidator />
    
    <ValidationSummary/>
    
    
    
    <button @onclick="CreateBook" class="ntn btn-success">
        <span class="oi oi-pencil"></span>
        Submit Book
    </button>
    
    <button @onclick="BackToList" class="btn ">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>
</EditForm>

@code {
    private Book _model = new Book();
    
    private async Task CreateBook()
    {
        var response = await _repo.Create(Endpoints.BooksEndpoint, _model);
        if (response != null)
        {
            _toastService.ShowSuccess("Successfully created book record", "");
            BackToList();
        }
        else
        {
            _toastService.ShowError("An Error Occurred While Creating the Record!");
        }
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/books");
    }
}